<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
    <title>Editando <%=livrosAtual.nome_livro%></title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <main>
            <section id="form_container">
                <form method="post" action="/criar">
                    <fieldset>
                        <legend>Editando o <%=livrosAtual.nome_livro%>
                        </legend>
                        <fieldset class="fieldset_data">
                            <input type="text" name="nome_livro" value="<%=livrosAtual.nome_livro%>" maxlength="150" required>
                            <label for="nome_livro">Nome:</label>
                        </fieldset>

                        <fieldset class="fieldset_data">
                            <input type="text" name="genero" value="<%=livrosAtual.genero%>" maxlength="100" required>
                            <label for="gerero">Gênero:</label>
                        </fieldset>

                        <fieldset class="fieldset_data">
                            <input type="url" name="img" value="<%=livrosAtual.img%>" maxlength="2000" required>
                            <label for="img">Imagem:</label>
                        </fieldset>

                        <fieldset class="fieldset_data">
                            <input type="text" name="ano_lancamento" value="<%=livrosAtual.ano_lancamento%>" maxlength="10" required>
                            <label for="ano_lancamento">Ano de Lanç.:</label>
                        </fieldset>

                        <fieldset class="fieldset_data">
                            <input type="text" name="total_paginas" value="<%=livrosAtual.total_paginas%>" maxlength="10"required>
                            <label for="total_paginas">Quantidade de páginas:</label>
                        </fieldset>

                        <fieldset class="fieldset_data">
                            <input type="text" name="nome_autor" value="<%=livrosAtual.nome_autor%>" maxlength="100" required>
                            <label for="nome_autor">Autor:</label>
                        </fieldset>

                        <fieldset class="fieldset_data">
                            <input type="text" name="descricao" value="<%=livrosAtual.descricao%>" maxlength="2000" required>
                            <label for=descricao">Descrição:</label>
                        </fieldset>

                        <div id="btn_container">
                            <button id="btn_submit" type="submit">Enviar</button>
                        </div>
                    </fieldset>
                </form>
            </section>
        </main>
        <%- include('./partials/footer.ejs') %>
</body>

</html>